<template>
  <section class="benefits" id="benefits">
    <div class="container">
      <div class="wrapper">
        <div class="left">
          <div class="map">
            <i class="fa fa-map-marker"></i>
            <img src="../../assets/images/way.svg" alt="">
            <i class="fa fa-map-marker green"></i>
          </div>
          <div class="box">
            <BenefitsCard
              v-for="card in benefits"
              :key="card.id"
              :card="card"
            />
          </div>
        </div>
        <div class="right">
          <img src="../../assets/images/benefits.png" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import BenefitsCard from "@/components/Home-comp/BenefitsCard";

export default {
  name: "Benefits",
  components: {
    BenefitsCard
  },
  data() {
    return {
      benefits: [
        {
          id: 1,
          title: "Safety",
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor '
        },
        {
          id: 2,
          title: "High quality drivers",
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor '
        },
        {
          id: 3,
          title: "Guarantee & Support 24/7",
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor '
        },
        {
          id: 4,
          title: "Personal manager",
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor '
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.benefits {
  padding-bottom: 60px;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
      width: 45%;

      .map {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;

        i {
          font-size: 25px;
          color: transparent;
          -webkit-text-stroke: 3px #AFB6C6;

          &.green {
            -webkit-text-stroke: 3px #65C511;
          }
        }
      }

      .box {
        display: flex;
        flex-direction: column;
        gap: 35px;
      }
    }

    .right {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .wrapper {
      .left {
        width: 100%;
        margin-bottom: 30px;
      }
      .right {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }

    .wrapper {
      .left {
        .box {
          gap: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      width: 100%;
    }
  }
}
</style>