<template>
  <section class="clients" id="clients">
    <div class="container">
      <div class="title">
        <h1><span>Our</span> Clients</h1>
      </div>
      <div class="wrapper">
        <div class="left">
          <div class="images">
            <clients-images
                v-for="item in images"
                :key="item.id"
                :item="item"
            />
          </div>
          <div class="buttons">
            <button class="btn">Become a client</button>
            <button class="client">we love our clients</button>
          </div>
        </div>
        <div class="right">
          <div class="item">
            <div class="head">
              <img src="../../assets/images/client.png" alt="" />
              <div class="span">
                <span></span>
                <span></span>
                <span></span>
              </div>
              <div class="text">
                <h1>John Smith</h1>
                <h3>FOX Hub CEO</h3>
              </div>
            </div>
            <div class="body">
              <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                diam nonumy eirmod tempor invidunt ut labore et dolore magna
                aliquyam erat, sed diam voluptua. At vero eos et accusam et
                justo duo dolores et ea rebum.
                <br />
                <br />
                Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                sadipscing elitr, sed diam
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import clientsImages from "@/components/Home-comp/Clients-images";

export default {
  components: {
    clientsImages
  },
  data() {
    return {
      images: [
        {
          id: 1,
          src: require('../../assets/images/atica.svg')
        },
        {
          id: 2,
          src: require('../../assets/images/hex-lab.svg')
        },
        {
          id: 3,
          src: require('../../assets/images/amara.svg')
        },
        {
          id: 4,
          src: require('../../assets/images/muzica.svg')
        },
        {
          id: 5,
          src: require('../../assets/images/solaytic.svg')
        },
        {
          id: 6,
          src: require('../../assets/images/hexa.svg')
        },
        {
          id: 7,
          src: require('../../assets/images/utosia.svg')
        },
        {
          id: 8,
          src: require('../../assets/images/fox-hub.svg')
        }
      ]
    }
  }
};
</script>

<style lang="scss" scoped>
.clients {
  padding-bottom: 120px;

  .title {
    margin-bottom: 40px;

    h1 {
      font-size: 45px;
      font-weight: 900;
      font-family: "Lato", sans-serif;

      span {
        color: #004af2;
      }
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .left {
      width: 50%;

      .images {
        display: flex;
        gap: 35px;
        flex-wrap: wrap;
        background: url("../../assets/images/map.png") no-repeat center / cover;
      }

      .buttons {
        margin-top: 60px;
        display: flex;
        gap: 40px;

        .btn {
          padding: 11px 45px;
          border: none;
          outline: none;
          background: linear-gradient(90deg, #ff903e 0%, #ff2c2c 100%);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          font-size: 18px;
          font-family: "PT sans", sans-serif;
          font-weight: 700;
          color: #fff;
          cursor: pointer;
        }

        .client {
          position: relative;
          border-radius: 5px;
          font-size: 18px;
          font-family: "PT sans", sans-serif;
          background: transparent;
          box-shadow: none;
          color: #464646;
          font-weight: 400;
          border: none;
          outline: none;

          &::before {
            content: '';
            width: 30%;
            height: 100%;
            position: absolute;
            left: 15%;
            top: 5%;
            background: url('../../assets/images/love.svg') no-repeat center / cover;
          }
        }
      }
    }

    .right {
      width: 40%;

      .item {
        display: flex;
        flex-direction: column;
        gap: 35px;

        .head {
          display: flex;
          align-items: center;
          gap: 21px;
          position: relative;
          color: #2c2c2c;

          h1 {
            font-size: 18px;
            font-weight: 900;
            font-family: "Lato", sans-serif;
          }

          h3 {
            font-size: 15px;
            font-weight: 400;
            font-family: "Lato", sans-serif;
          }

          .span {
            display: flex;
            gap: 5px;
            position: absolute;
            transform: rotate(-137deg);
            top: -8%;
            left: 8%;
            z-index: -1;

            span {
              width: 100%;
              height: 130px;
              border: 5px solid red;

              &:nth-child(2) {
                border: 5px solid #004af2;
              }
            }
          }
        }

        .body {
          p {
            font-size: 15px;
            font-weight: 400;
            font-family: "Lato", sans-serif;
            color: #585858;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .wrapper {
      flex-wrap: wrap;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
        margin-top: 25px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }

    .title {
      h1 {
        font-size: 40px;
      }
    }

    .wrapper {
      .left {
        .buttons {
          .btn {
            padding: 11px 30px;
            font-size: 15px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }

    .wrapper {
      .left {
        .buttons {
          .btn {
            font-size: 14px;
            padding: 11px;
          }
        }
      }

      .right {
        .item {
          .head {
            .span {
              top: -10%;
              left: 10%;
            }
          }
        }
      }
    }
  }
}
</style>