<template>
  <footer class="footer" id="contact">
    <img src="../../assets/images/left-tire.png" alt="" class="left-tire">
    <div class="container">
      <div class="wrap">
        <div class="logo">
          <img src="../../assets/images/black-logo.svg" alt="">
          <p>CenterLogistic</p>
        </div>
        <ul class="list">
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="#">Our blog</a>
          </li>
        </ul>
        <div class="copy">
          <p>copyright <a href="https://t.me/SaloxDev">SaloxDev</a></p>
          <div class="call">
            <a href="tel: +998998774212">Call: +998998774212 or</a>
            <a href="mailto:abduraxmon.69list.ru@gmail.com">Email: SaloxDev@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <img src="../../assets/images/tire.png" alt="" class="right-tire">
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped lang="scss">
.footer {
  background: #e5e5e5;
  padding: 41px 0 19px;
  position: relative;

  a, ul {
    list-style: none;
    text-decoration: none;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    font-family: "PT sans", sans-serif;

    .logo {
      display: flex;
      gap: 15px;
      align-items: center;

      p {
        font-weight: 700;
        font-size: 15px;
        color: #2C2C2C;
      }
    }

    .list {
      display: flex;
      gap: 20px;

      a {
        color: #004AF2;
        font-size: 12px;
        font-weight: 400;
      }
    }

    .copy {
      text-align: center;
      position: relative;
      z-index: 99;

      p {
        font-size: 15px;
        font-weight: 400;
        color: #585858;
        margin-bottom: 10px;

        a {
          color: #004AF2;
        }
      }

      .call {
        display: flex;
        gap: 5px;

        a {
          font-size: 15px;
          font-weight: 400;
          color: #585858;
        }
      }
    }
  }

  .left-tire,
  .right-tire {
    position: absolute;
  }

  .right-tire {
    right: 0;
    bottom: 0;
  }

  .left-tire {
    left: 0;
    bottom: 0;
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }
    .wrap {
      gap: 20px;
    }

    .right-tire,
    .left-tire {
      width: 30%;
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }
  }

  @media screen and (max-width: 320px) {
    max-width: 100%;
  }
}
</style>