<template>
  <Navbar/>
  <Home/>
  <Services/>
  <Clients/>
  <Benefits/>
  <Team/>
  <Mission/>
  <News/>
  <Footer/>
</template>

<script>
import Navbar from "@/components/Home-comp/Navbar";
import Home from "@/Sections/HomePage/HomeView";
import Services from "@/Sections/HomePage/Services";
import Clients from "@/Sections/HomePage/Clients";
import Benefits from "@/Sections/HomePage/Benefits";
import Team from "@/Sections/HomePage/Team";
import Mission from "@/Sections/HomePage/Mission";
import News from "@/Sections/HomePage/News";
import Footer from "@/Sections/HomePage/Footer";

export default {
  components: {
    Navbar,
    Home,
    Services,
    Clients,
    Benefits,
    Team,
    Mission,
    News,
    Footer,
  }
}
</script>

<style lang="scss">

</style>
