<template>
  <header class="home">
    <div class="container">
      <div class="wrapper">
        <Form/>
        <div class="right">
          <div class="parent">
            <h3>Usa,Europe,Asia</h3>
            <h1>trans <br> logistic</h1>
            <span>&amp;</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import Form from "@/components/Home-comp/Form";

export default {
  name: 'HomeView',
  components: { Form }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  padding-top: 215px;
  background: url("../../assets/images/bg.png") no-repeat center / cover;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;

    .right {
      .parent {
        position: relative;
        text-align: right;
        color: #ffffff;

        h3 {
           font-size: 15px;
          font-weight: 400;
          font-family: "PT sans", sans-serif;
        }

        h1 {
          font-size: 110px;
          font-weight: 700;
          font-family: "Lato", sans-serif;
          text-transform: uppercase;
        }

        span {
          font-size: 170px;
          font-weight: 900;
          font-family: "Lato", sans-serif;
          color: rgba(255,255,255,0.2);
          position: absolute;
          top: 40%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }
    .wrapper {
      justify-content: center;

      .left {
        &.form-par {
          bottom: 0;
        }
        max-width: 100%;
        margin-bottom: 25px;
      }

      .right {
        .parent {
          h1 {
            font-size: 80px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }

    padding-top: 135px;

    .wrapper {
      flex-wrap: wrap-reverse;

      .left {
        .head {
          h1 {
            font-size: 25px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }

    .wrapper {
      .right {
        .parent {
          h1 {
            font-size: 60px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      width: 100%;
    }
  }
}
</style>
