<template>
  <section class="mission">
    <div class="container">
      <h1 class="title">our mission</h1>
      <div class="box">
        <h1>To provide our customer qualified services according the international</h1>
        <p>Book your Cargo now & Your job just got a lot easier</p>
      </div>
      <button class="btn">Become a client</button>
    </div>
  </section>
</template>

<script>
export default {
  name: "Mission"
}
</script>

<style scoped lang="scss">
.mission {
  padding: 137px 0 120px;
  position: relative;
  text-align: center;

  .title {
    font-size: 90px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: rgba(0,0,0,0.05);
    position: absolute;
    top: 10%;
    left: 25%;
  }

  .box {
    width: 100%;
    padding: 62px 0 66px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.16);
    font-family: "Lato", sans-serif;
    text-align: center;
    position: relative;
    margin-bottom: 30px;

    h1 {
      font-size: 30px;
      font-weight: 700;
      color: #004AF2;
      margin-bottom: 10px;
    }

    p {
      font-size: 21px;
      font-weight: 400;
      color: #585858;
    }

    &:before {
      content: '';
      width: 40%;
      height: 2px;
      background: #004AF2;
      position: absolute;
      bottom: 0;
      left: 10%;
    }
    &:after {
      content: '';
      width: 40%;
      height: 2px;
      background: red;
      position: absolute;
      bottom: 0;
      right: 10%;
    }
  }

  .btn {
    padding: 11px 45px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: "PT sans", sans-serif;
    font-weight: 700;
    background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .box {
      padding: 35px 25px 35px;

      h1 {
        font-size: 25px;
      }

      p {
        font-size: 18px;
      }
    }

    .title {
      font-size: 65px;
      top: 15%;
      left: 18%;
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }

    .title {
      left: 5%;
      top: 16%;
      font-size: 50px;
    }

    .box {
      h1 {
        font-size: 20px;
      }
    }

    .btn {
      padding: 11px 35px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      width: 100%;
    }
    .title {
      left: 3%;
      top: 19%;
      font-size: 39px;
    }

  }
}
</style>