<template>
  <section class="news" id="news">
    <div class="container">
      <div class="title">
        <h1><span>Interesting</span> to read</h1>
      </div>
      <div class="block">
        <NewsCard
            v-for="item in items"
            :key="item.id"
            :item="item"
        />
      </div>
      <router-link class="btn" to="/newsPage">Visit blog</router-link>
    </div>
  </section>
</template>

<script>
import NewsCard from "@/components/Home-comp/NewsCard";
import NewsPage from "@/Sections/NewsPage";

export default {
  name: "News",
  components: {
    NewsCard,
    NewsPage
  },
  data() {
    return {
      items: [
        {
          id: 1,
          title: 'News title',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
          date: new Date().toLocaleDateString()
        },
        {
          id: 2,
          title: 'News title',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
          date: new Date().toLocaleDateString()
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.news {
  padding-bottom: 120px;

  .title {
    margin-bottom: 50px;

    h1 {
      font-size: 45px;
      font-weight: 900;
      font-family: "Lato", sans-serif;

      span {
        color: #004af2;
      }
    }
  }

  .block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }

  .btn {
    font-size: 18px;
    font-weight: 700;
    font-family: "PT sans", sans-serif;
    color: #FFFFFF;
    padding: 11px 43px;
    background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .title {
      margin-bottom: 30px;
      h1 {
        font-size: 40px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }

    .title {
      h1 {
        font-size: 35px;
      }
    }

    .btn {
      font-size: 15px;
      padding: 11px 35px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }

    .title {
      h1 {
        font-size: 30px;
      }
    }
  }
}
</style>