<template>
  <section class="services" id="services">
    <div class="container">
      <div class="box">
        <ServicesCard
            v-for="item in cards"
            :key="item.id"
            :item="item"
        />
        <h1>Services</h1>
      </div>
    </div>
  </section>
</template>

<script>
import ServicesCard from '../../components/Home-comp/Services-card'

export default {
  name: 'Services',
  components: {
    ServicesCard
  },
  data() {
    return {
      cards: [
        {
          id: 1,
          title: 'Ground Shipping',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam',
          more: 'Learn more'
        },
        {
          id: 2,
          title: 'Railway Shipping',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam',
          more: 'Learn more'
        },
        {
          id: 3,
          title: 'Water Shipping',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam',
          more: 'Learn more'
        },
        {
          id: 4,
          title: 'Air Shipping',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam',
          more: 'Learn more'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.services {
  padding: 60px 0 120px;

  .box {
    display: flex;
    justify-content: space-between;
    padding: 28px 41px 84px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    position: relative;

    h1 {
      font-size: 90px;
      font-weight: 900;
      font-family: "Lato", sans-serif;
      opacity: 0.5;
      color: rgba(44,44,44,0.05);
      position: absolute;
      bottom: -4%;
      right: 3%;
      z-index: -1;
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .box {
      flex-wrap: wrap;

      h1 {
        font-size: 85px;
        bottom: 0;
      }
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }

    .box {
      h1 {
        font-size: 65px;
      }
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      width: 100%;
    }
  }
}
</style>