<template>
  <section class="team" id="team">
    <div class="container">
      <div class="title">
        <h1><span>Our</span> Team</h1>
      </div>
      <div class="box">
        <TeamCard
          v-for="card in items"
          :key="card.id"
          :card="card"
        />
      </div>
    </div>
  </section>
</template>

<script>
import TeamCard from "@/components/Home-comp/TeamCard";

export default {
  name: "Team",
  components: {
    TeamCard
  },
  data() {
    return {
      items: [
        {
          id: 1,
          img: require('../../assets/images/john.png'),
          name: 'John Smith',
          job: 'Logistic manager - 8 years experience',
          mail: 'john@centerlogistic.com',
          phone: '+987412512543'
        },
        {
          id: 2,
          img: require('../../assets/images/daniel.png'),
          name: 'Daniel Kore',
          job: 'Software engineer',
          mail: 'daniel@centerlogistic.com',
          phone: '+987423252253'
        },
        {
          id: 3,
          img: require('../../assets/images/sara.png'),
          name: 'Anna Filler',
          job: 'Marketing specialist - 10 years experience',
          mail: 'anna@centerlogistic.com',
          phone: '+98735353456'
        },
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.team {
  padding: 60px 0;
  background: #e5e5e5;

  .title {
    margin-bottom: 50px;

    h1 {
      font-size: 45px;
      font-weight: 900;
      font-family: "Lato", sans-serif;

      span {
        color: #004af2;
      }
    }
  }

  .box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .box {
      justify-content: center;
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }

    .title {
      margin: 0;
      h1 {
        font-size: 40px;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      width: 100%;
    }
  }
}
</style>