<template>
  <div class="card">
    <h1>{{ card.title }}</h1>
    <p>{{ card.text }}</p>
  </div>
</template>

<script>
export default {
  name: "BenefitsCard",
  props: {
    card: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  width: 70%;

  h1 {
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-weight: 900;
    color: #2c2c2c;
    margin-bottom: 12px;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    font-family: "PT sans", sans-serif;
    color: #585858;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  
  @media screen and (max-width: 375px) {
    h1 {
      margin: 0;
    }
  }
}
</style>