<template>
  <div class="img">
    <img :src="item.src" alt="">
  </div>
</template>

<script>
export default {
  name: "Clients-images",
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">

</style>