<template>
  <div class="left form-par">
    <div class="head">
      <h1>Get Callback</h1>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
      </p>
    </div>
    <form class="form">
      <div class="input">
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Your name">
      </div>
      <div class="input">
        <i class="fa fa-phone"></i>
        <input type="number" placeholder="Your phone">
      </div>
      <div class="input">
        <i class="fa fa-envelope"></i>
        <input type="email" placeholder="Your e-mail">
      </div>
      <button class="btn">Call me back</button>
    </form>
  </div>
</template>

<script>
export default {
  name: "Form"
}
</script>

<style scoped lang="scss">
.left {
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  background: #004AF2;
  border-radius: 5px;

  &.form-par {
    position: relative;
    bottom: -30px;
  }

  .head {
    background: #033FC9;
    padding: 19px 30px;
    border-radius: 5px;
    color: #ffffff;

    h1 {
      font-family: 'Lato', sans-serif;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 8px;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      font-family: 'PT sans', sans-serif;
    }
  }

  .form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .input {
      display: flex;
      gap: 15px;
      position: relative;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: -10px;
        background: rgba(255,255,255,0.2);
      }

      input {
        background: transparent;
        border: none;
        outline: none;
        color: #ffffff;

        &::placeholder {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          font-family: "PT sans", sans-serif;
        }
      }

      i {
        color: #fff;
      }
    }

    .btn {
      padding: 11px 0;
      font-size: 18px;
      font-weight: 700;
      font-family: "PT sans", sans-serif;
      color: #ffffff;
      border: none;
      outline: none;
      background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
      border-radius: 5px;
    }
  }
}
</style>