<template>
  <div class="card">
    <h1>{{ item.title }}</h1>
    <p>{{ item.text }}</p>
    <a href="#">{{ item.more }}</a>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h1 {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    color: #2c2c2c;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    font-family: 'PT sans', sans-serif;
    color: #585858;
  }

  a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-family: "PT sans", sans-serif;
    color: #004AF2;
    position: relative;
    transition: 0.3s;

    &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 8%;
      height: 2px;
      background: #004AF2;
      transition: 0.3s;
    }

    &:hover {
      color: #FF3E2F;

      &:before {
        width: 30%;
        background: #FF2C2C;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 45%;
    margin-bottom: 25px;
    gap: 15px;
  }
  
  @media screen and (max-width: 375px) {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}
</style>