<template>
  <div class="card">
    <img :src="card.img" alt="">
    <h1>{{ card.name }}</h1>
    <h3>{{ card.job }}</h3>
    <div class="info">
      <i class="fa fa-envelope"></i>
      <p>{{ card.mail }}</p>
    </div>
    <div class="info">
      <i class="fa fa-phone"></i>
      <p>{{ card.phone }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "TeamCard",
  props: {
    card: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  h1 {
    font-size: 18px;
    font-weight: 900;
    color: #2c2c2c;
    font-family: "Lato", sans-serif;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 15px;
    font-weight: 400;
    font-family: "PT sans", sans-serif;
    color: #585858;
    margin-bottom: 12px;
  }
  .info {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #585858;
    font-family: "PT sans", sans-serif;
    margin-bottom: 10px;

    p {
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 25px;
  }
  @media screen and (max-width: 425px) {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
</style>