<template>
  <div class="parent" v-if="!isLoaded">
    <div class="progress"></div>
  </div>
</template>

<script>
export default {
  name: "loader",
  data() {
    return {
      isLoaded: false
    }
  },
  created() {
    document.body.style.overflow = 'hidden'
  },
  mounted() {
    document.onreadystatechange = () => {
      if (document.readyState === 'complete') {
        this.isLoaded = true
      }
    }
    document.body.style.overflow = 'auto'
  }
}
</script>

<style scoped lang="scss">
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #464646;
  overflow: hidden;
  z-index: 999;
}

.progress {
  --r1: 156%;
  --r2: 68.5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background:
      radial-gradient(var(--r1) var(--r2) at top, #000 79.5%, #269af2 80%),
      radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #000 80%),
      radial-gradient(var(--r1) var(--r2) at top, #000 79.5%, #269af2 80%),
      #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%, 0% 0%, 100% 0%;
  background-repeat: no-repeat;
  animation: progress 2s infinite linear;
}

@keyframes progress {
  33%{
    background-position: 0 33%, 100% 33%, 200% 33%;
  }

  66%{
    background-position: -100% 66%, 0% 66%, 100% 66%;
  }

  100% {
    background-position: 0 100%, 100% 100%, 200% 100%;
  }
}
</style>