<template>
  <div class="card">
    <h1>{{ item.title }}</h1>
    <p>{{ item.text }}</p>
    <small>{{ item.date }}</small>
  </div>
</template>

<script>
export default {
  name: "NewsCard",
  props: {
    item: {
      type: Object,
      require: true
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "PT sans", sans-serif;
  margin-bottom: 45px;

  h1 {
    font-size: 18px;
    font-weight: 700;
    color: #2c2c2c;
  }

  p {
    font-size: 15px;
    font-weight: 400;
    color: #585858;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
</style>