<template>
  <div class="card">
    <p>{{ item.text }}</p>
    <h1>{{ item.subtitle }}</h1>
    <p>{{ item.text1 }}</p>
    <div class="list">
      <p>{{ item.list }}</p>
      <p>{{ item.list }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "PrivacyPage-comp",
  props: {
    item: {
      type: Object,
      require: true
    }
  }
}
</script>

<style scoped lang="scss">
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
  width: 75%;

  p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #585858;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
</style>