<template>
  <section class="news-page">
    <div class="container">
      <NavbarComp/>
    </div>
  </section>
  <section class="news">
    <div class="container">
      <div class="title">
        <h1><span>Interesting</span> to read</h1>
      </div>
      <div class="wrapper">
        <div class="box">
          <NewsPageComp
              v-for="item in items"
              :key="item.id"
              :item="item"
          />
        </div>
        <Form/>
      </div>
    </div>
    <Footer/>
  </section>
</template>

<script>
import NavbarComp from "@/components/Navbar-comp";
import NewsPageComp from "@/components/NewsPage-comp";
import Form from "@/components/Home-comp/Form";
import Footer from "@/Sections/HomePage/Footer";

export default {
  name: "NewsPage",
  components: {
    NavbarComp,
    NewsPageComp,
    Form,
    Footer
  },
  data() {
    return {
      items: [
        {
          id: 1,
          title: 'News title',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
          date: new Date().toLocaleDateString()
        },
        {
          id: 2,
          title: 'News title',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
          date: new Date().toLocaleDateString()
        },
        {
          id: 3,
          title: 'News title',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
          date: new Date().toLocaleDateString()
        },
        {
          id: 4,
          title: 'News title',
          text: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. ',
          date: new Date().toLocaleDateString()
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">
.news-page {
  background-image: url("../assets/images/news-bg.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.news {
  padding-top: 60px;

  .box {
    display: flex;
    flex-direction: column;
    width: 65%;
  }

  .title {
    margin-bottom: 50px;

    h1 {
      font-size: 45px;
      font-weight: 900;
      font-family: "Lato", sans-serif;

      @media screen and (max-width: 768px) {
        font-size: 40px;
      }

      @media screen and (max-width: 425px) {
        font-size: 35px;
      }

      @media screen and (max-width: 375px) {
        font-size: 30px;
      }

      span {
        color: #004af2;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .container {
      max-width: 425px;
    }

    .box {
      width: 100%;
    }

    .wrapper {
      justify-content: center;
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 425px) {
    .container {
      max-width: 375px;
    }
  }

  @media screen and (max-width: 375px) {
    .container {
      max-width: 320px;
    }
  }

  @media screen and (max-width: 320px) {
    .container {
      max-width: 100%;
    }
  }
}
</style>