<template>
  <section class="privacy">
    <div class="container">
      <NavbarComp/>
    </div>
  </section>
  <section class="policy">
    <div class="container">
      <div class="title">
        <h1><span>Privacy</span> Policy</h1>
      </div>
      <div class="box">
        <PrivacyPageComp
            v-for="item in items"
            :key="item.id"
            :item="item"
        />
      </div>
      <router-link to="/" class="btn">Back to Home</router-link>
    </div>
    <div class="progress"></div>
    <Footer/>
  </section>
</template>

<script>
import NavbarComp from "@/components/Navbar-comp";
import PrivacyPageComp from "@/components/PrivacyPage-comp";
import Footer from "@/Sections/HomePage/Footer";

export default {
  name: "Privacy",
  components: {
    NavbarComp,
    PrivacyPageComp,
    Footer
  },
  data() {
    return {
      items: [
        {
          id: 1,
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore!',
          subtitle: 'Some subtitle',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore!',
          list: '- unordered list item'
        },
        {
          id: 2,
          text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore!',
          subtitle: 'Some subtitle',
          text1: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad asperiores aspernatur aut cumque dolor ea earum facere harum ipsum labore praesentium quas quia, quo quos recusandae sed tempora tempore!',
          list: 'unordered list item'
        }
      ]
    }
  }
}
</script>

<style scoped lang="scss">


.privacy {
  background-image: url("../assets/images/privacy-bg.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    margin-bottom: 35px;
  }

  @media screen and (max-width: 375px) {
    margin-bottom: 25px;
  }

  h1 {
    font-size: 45px;
    font-weight: 900;
    font-family: "Lato", sans-serif;

    @media screen and (max-width: 768px) {
      font-size: 40px;
    }

    @media screen and (max-width: 425px) {
      font-size: 35px;
    }

    @media screen and (max-width: 375px) {
      font-size: 30px;
    }

    span {
      color: #004af2;
    }
  }
}

.btn {
  padding: 11px 45px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff903e 0%, #ff2c2c 100%);
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  font-size: 18px;
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;

  @media screen and (max-width: 425px) {
    padding: 11px 25px;
  }
}

Footer {
  margin-top: 120px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 425px;
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (max-width: 375px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    max-width: 100%;
  }
}
</style>