<template>
  <router-view/>
</template>

<script>
export default {
  components: {}
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  margin: auto;
}
</style>
